.h3animation{
    animation: fadeIn 2s ease-in forwards;
}
@keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
.typing{
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.typing span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.typing span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.typing span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.typing span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.typing span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.typing span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.typing span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.typing span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.typing span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.typing span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.typing span:nth-child(10) {
  animation: fade-in 0.8s 0.10s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.typing span:nth-child(11) {
  animation: fade-in 0.8s 0.11s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.icons{
    font-size: 15vh;
    color: #ece7e7;
    padding:120px;
}

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");

/*=============== CARD ===============*/
.contain {
  display: grid;
}

.card__article {
  position: relative;
  background-color: var(--black-color);
  border: 2px solid var(--gray-color);
  display: grid;
  overflow: hidden;
  transition: background-color .6s;
  
  height:30vh;
}

.card__data {
  display: flex;
  align-items: flex-end;
  transition: transform .4s, opacity .4s;
}

.card__title {
  font-size: var(--normal-font-size);
  font-weight: 400;
}

.card__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.3);
  z-index: -1;
  transition: transform .4s;
}

.card__button {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  align-items: center;
  justify-self: center;
  box-shadow: 10px 8px 24px hsla(170, 12%, 8%, .1);
  position: absolute;
  bottom: -1.0rem;
  opacity: 0;
  pointer-events: none;
  transition: transform .4s, opacity .4s;
  margin:20px;
}

.card__button i {
  transition: transform .4s;
}
.card__button:hover i {
  transform: translateX(.5rem);
}

/* Card animation */
.card__article:hover .card__img {
  transform: translateY(-1.5rem);
}

.card__article:hover .card__data {
  transform: translateY(-4.5rem);
  opacity: 0;
}

.card__article:hover {
  background-color: transparent;
}

.card__article:hover .card__bg {
  transform: scale(1);
}

.card__article:hover .card__button {
  transform: translateY(-3.75rem);
  opacity: 1;
  pointer-events: initial;
}
.bg{
  background-color:rgba(187, 184, 184, 0.4);
}
.transperent{
  background-color:rgba(247, 246, 246, 0.871);
}
